@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none !important;
}
.ff_annot {
  font-family: "Anton", sans-serif !important;
}
.ff_inter {
  font-family: "Inter", sans-serif !important;
}

:root {
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-32: 32px;
  --fs-48: 48px;
  --fs-72: 72px;
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-32 {
  font-size: var(--fs-32);
}
.fs-48 {
  font-size: var(--fs-48);
}
.fs-72 {
  font-size: var(--fs-72);
}
.font_bold {
  font-weight: 700;
}
.font_medium {
  font-weight: 500;
}
.d_none {
  display: none;
}
#Top {
  background: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 3;
}


/* Preloder */

.loader_bg {
  z-index: 100 !important;
}

.d_none {
  display: none !important;
}

.loading-bar {
  position: relative;
  width: 110px;
  height: 110px;
  background: transparent;
  border: px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 111px;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff000;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-bar:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #fff000;
  border-right: 5px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}
 /* preloader  */
 /* .animation_preloader {
  animation: loder 4s linear;
}

 @keyframes loder {
  0% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(360deg);
  }
} 
.perloaderback {
  background-color: #000000;
}
.z_index_2000 {
  z-index: 2000 !important;
}

.z_index_100 {
  z-index: 100 !important;
} */

/* preloader  */

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.z_index {
  z-index: 1000 !important;
}
.navi {
  background-color: transparent !important;
  border: none !important;
}
.closeicon {
  background-color: white;
  color: white !important;
  border: none !important;
}
.accordin_container {
  max-width: 990px !important;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
}
.bg_heroimg {
  background-image: url(./assets/images/hero_bgimg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg_navclr {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(26px);
  padding-top: 19px;
  padding-bottom: 19px;
}
.op_08 {
  opacity: 0.8;
}
.opacity_08 {
  opacity: 0.8;
  transition: all 300 linear !important;
}
.opacity_08:hover {
  opacity: 1;
  transition: all 400 linear !important;
}
.link {
  transition: scale 400ms;
  height: 100%;
  transition: all 300ms linear;
}
.link:hover {
  scale: 120%;
  transition: all 300ms linear;
}
.z_idx {
  z-index: 2 !important;
}
.ellips {
  position: absolute;
  left: -5%;
  z-index: 11 !important;
  height: 264px;
  width: 400px !important;
  border-radius: 484px;
  opacity: 0.5;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  );
  filter: blur(179.9499969482422px);
}
.ellips3 {
  position: absolute !important;
  right: -5%;
  top: 2%;
  z-index: -1 !important;
  width: 140px !important;
  height: 130px !important;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  ) !important;
  filter: blur(65.5px);
}
.ellips4 {
  position: absolute !important;
  left:  -5%;
  bottom: -5%;
  z-index: -1 !important;
  width: 140px !important;
  height: 130px !important;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  ) !important;
  filter: blur(65.5px);
}
.ellips5 {
  position: absolute !important;
  right:  10%;
  top: 10%;
  z-index: -1 !important;
  width: 140px !important;
  height: 130px !important;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  ) !important;
  filter: blur(65.5px);
}
.ellips6 {
  position: absolute !important;
  left:  13%;
  top: 10%;
  z-index: 0 !important;
  width: 140px !important;
  height: 130px !important;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  ) !important;
  filter: blur(65.5px);
}
.ellips2 {
  position: absolute;
  right: 0 !important;
  bottom: -10%;
  z-index: -1 !important;
  height: 264px;
  width: 400px !important;
  border-radius: 484px;
  opacity: 0.5;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  );
  filter: blur(179.9499969482422px);
}
.acces_btn {
  padding: 13px 46px 13px 46px;
  background-color: transparent;
  border-radius: 41px;
  border: 1px solid var(--white, #fff);
  transition: all 300ms linear;
}
.empezar_btn {
  padding: 13px 46px 13px 46px;
  background-color: transparent;
  border-radius: 41px;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  );
  border: none;
  transition: all 300ms linear;
}
.empezar_btn:hover {
  background: var(
    --linear,
    linear-gradient(207deg, #31c8ef -9.72%, #7af57a 50.02%)
  ) !important;
  transition: all 300ms linear;
}
.acces_btn:hover {
  border-radius: 41px;
  background: var(
    --linear,
    linear-gradient(307deg, #51c8ef -13.72%, #7af57a 102.02%)
  ) !important;
  transition: all 300ms linear;
}

.lines {
  position: absolute !important;
  bottom: -7px;
  left: -4px;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.pr_100 {
  padding-right: 60px;
}
ol,
ul {
  padding-left: 0 !important;
}
.min_vh810 {
  height: 810px;
}
.l_height160 {
  line-height: 160% !important;
}
.l_height120 {
  line-height: 120%;
}
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.pt_40 {
  padding-top: 40px;
}

/* Nuestra_Section */
.bg_clr2 {
  background-color: #00141b;
}
.pt-60 {
  padding-top: 60px;
}
.b_radius16 {
  border-radius: 16px !important;
}
.text_clr {
  color: var(--Green, #7af57a);
}
.w_538 {
  max-width: 538px;
}
.txt_clr {
  color: #00141b;
}
.pb_60 {
  padding-bottom: 60px;
}
.up_arrows {
  position: absolute;
  content: "";
  left: 19%;
}
.Down_arrow {
  position: absolute;
  content: "";
  right: 19%;
  top: 43%;
}
.pt-150 {
  padding-top: 70px;
}
.jack_bgimg {
  background-image: url(./assets/images/jack_bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pt-327 {
  padding-top: 327px;
}
.pt-12 {
  padding-top: 12px;
}
.ptb_150 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.card1 {
  background-image: url(../src/assets/images/l_bgimg.webp);
  padding: 96px 260px;
  border: 0.5px solid white;
  border-radius: 16px;
}
.j_ellips {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  z-index: 1;
}
.j_ellips2 {
  position: absolute;
  content: " ";
  right: 0;
  bottom: 0;
  z-index: 1;
}
.pb_320 {
  padding-bottom: 320px;
}
.mas_card {
  width: 374px;
  padding: 24px 52px;
  gap: 37px;
  border-radius: 16px;
  border: 0.5px solid #51c8ef;
  background: linear-gradient(
    307deg,
    rgba(81, 200, 239, 0.04) -13.72%,
    rgba(122, 245, 122, 0.04) 102.02%
  );
  backdrop-filter: blur(16px);
}

.ptb_70 {
  padding-top: 70px;
  padding-bottom: 55px;
}
.luxy_bgimg {
  background-image: url(../src/assets/images/luxy_bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
}
.h_471 {
  height: 471px;
}
.z_index_3 {
  z-index: 3 !important;
}
.mt_1 {
  margin-top: -1px;
}
.luxry_img1 {
  position: absolute;
  content: "";
  left: 20%;
  top: 20%;
}
.luxry_img2 {
  position: absolute;
  content: "";
  right: 10%;
  top: 20%;
}
.luxry_img3 {
  position: absolute;
  content: "";
  left: 10%;
  bottom: 15%;
}
.luxry_img4 {
  position: absolute;
  content: "";
  right: 15%;
  bottom: 20%;
}

/* .width{
  width: 602px !important;
  height: 419px !important;
} */
.ptb-243 {
  padding-top: 243px;
  padding-bottom: 243px;
}

.ptb_304 {
  padding-top: 304px;
  padding-bottom: 324px;
}
.nav_icon {
  background-color: transparent;
  border: none;
  fill: white !important;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accordion-button {
  background-color: transparent !important;
  color: white !important;
  font-family: "Anton", sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  outline: unset !important;
  border-radius: 6px !important;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 15px 20px 15px 16px !important;
  transition: all 300ms linear !important;
  line-height: 130% !important;
  display: flex;
  align-items: flex-start !important;
}

.accordion-body {
  color: white !important;
  font-size: 16px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  opacity: 0.8 !important;
  padding: 8px 20px 15px 20px !important;
  max-width: 880px !important;
  line-height: 1.625 !important;
}

.accordion-item {
  background-color: transparent !important;
  border-radius: 6px !important;
  border: unset !important;
  border: 0.5px solid rgba(255, 255, 255, 0.5) !important;
}

.accordion-button::after {
  content: url("./assets/svg/plus-icon.svg") !important;
  background-image: unset !important;
}

.accordion-button:not(.collapsed)::after {
  content: url("./assets/svg/sub-icon.svg") !important;
  background-image: unset !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  padding-bottom: 0px !important;
}
.lanza_bgimg {
  background-image: url(../src/assets/images/lanza_bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  border: 1px solid gray;
}
.ptb-104 {
  padding-top: 101px;
  padding-bottom: 100px;
}
.w-65 {
  width: 62%;
}
.layer {
  position: absolute;
  display: flex;
  align-items: center !important;
  justify-content: center;
  top: 0;
  bottom: 0;
  border-radius: 16px;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 300ms linear;
}
.layer:hover {
  opacity: 1;
  transition: all 300ms linear;
}
.cusor_point {
  cursor: pointer;
}
.ptb_90 {
  padding-top: 90px;
  padding-bottom: 100px;
}
.hrline {
  height: 2px;
  color: gray;
}
hr {
  margin: 0 !important;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
.op_05 {
  opacity: 0.5;
}
.l_ellips {
  position: absolute;
  left: 0;
  width: 305.623px;
  height: 452.846px;
  transform: rotate(-72.641deg);
  background: linear-gradient(
      189deg,
      rgba(0, 0, 0, 0.8) 7.33%,
      rgba(0, 0, 0, 0) 24.7%
    ),
    linear-gradient(357deg, rgba(0, 0, 0, 0.8) 39.1%, rgba(0, 0, 0, 0) 95.99%),
    lightgray 50% / cover no-repeat !important;
  mix-blend-mode: plus-lighter;
}
.z_index {
  z-index: 1000 !important;
}

@media (max-width: 992px) {
  .overflow_hiddden {
    overflow: hidden !important;
  }

  .align-center {
    align-items: center !important;
  }
  .card1 {
    padding: 40px 100px;
    border: 0.5px solid white;
    border-radius: 16px;
  }
  .ptb_150 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .ptb_304 {
    padding-top: 170px;
    padding-bottom: 200px;
  }
  .accordion-button {
    font-size: 18px !important;
  }

  .accordion-body {
    font-size: 16px !important;
  }
  .w_100{
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    position: fixed !important;
    top: 0;
    right: -100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
    width: 100%;
    background: #00141b;
    backdrop-filter: blur(52px) !important;
    z-index: 1000 !important;
    transition: all 500ms linear;
    overflow: hidden;
  }
  nav ul.open {
    display: flex;
    right: 0;
    z-index: 2000;
    overflow: hidden !important;
    min-height: 100vh;

  }

}

@media (min-width: 1200px) {
  .my_container {
    max-width: 1164px !important;
  }
  .pr_100 {
    padding-right: 100px;
  }
}
@media (max-width: 769px) {
  .bg_white {
    background-color: white !important;
  }
  .ptb-243 {
    padding-top: 143px;
    padding-bottom: 143px;
  }
  .card1 {
    padding: 40px 60px;
    border: 0.5px solid white;
    border-radius: 16px;
  }
  .ptb_304 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .lanza_bgimg {
    background-image: url(../src/assets/images/lanza_bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid gray;
  }
  .column_reverse {
    flex-direction: column-reverse;
    display: flex;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-32: 27px;
    --fs-48: 39px;
    --fs-72: 50px;
  }
  .min_vh810 {
    height: 660px;
  }
  .pt-60 {
    padding-top: 30px;
  }
  .ptb-243 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .ptb-104 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .card1 {
    padding: 40px 10px;
    border: 0.5px solid white;
    border-radius: 16px;
  }
  .mas_card {
    width: 325px;
    padding: 24px 25px;
    gap: 37px;
    border-radius: 16px;
    border: 0.5px solid #51c8ef;
    background: linear-gradient(
      307deg,
      rgba(81, 200, 239, 0.04) -13.72%,
      rgba(122, 245, 122, 0.04) 102.02%
    );
    backdrop-filter: blur(16px);
  }
}
@media (min-width: 769px) {
  .pt-150 {
    padding-top: 100px;
  }
  .bgimg_white {
    background-image: url(../src/assets/images/jack_bgimg22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .bgimg_white2 {
    background-image: url(../src/assets/images/bg_white.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media (min-width: 992px) {
  .pt-150 {
    padding-top: 150px;
  }
  .width_100{
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .width_arrow {
    width: 220px !important;
  }
}
@media (min-width: 576px) {
  .silver_card {
    padding: 70px 30px 70px 35px;
    border-radius: 16px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      307deg,
      rgba(81, 200, 239, 0.06) -13.72%,
      rgba(122, 245, 122, 0.06) 102.02%
    );
  }
  .luxy_bgimg {
    background-image: url(../src/assets/images/luxy_bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    border: 1px solid gray;
  }
  .platinum_card {
    padding: 78px 40.322px 78px 30px;
    border-radius: 16px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      307deg,
      rgba(81, 200, 239, 0.06) -13.72%,
      rgba(122, 245, 122, 0.06) 102.02%
    );
  }
}
